<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大屏站点实时监控系统</title>
    <link type="text/css" rel="stylesheet" href="css/index.css" />
</head>

<body class="page">
    <div class="header">
        <p>大屏站点实时监控系统</p>
    </div>
    <div class="main-box" id="source">
        <div class="count-box">
            <!-- <span class="count-item" v-for="item in countData"
                v-html="tagName(item.status) + ':&nbsp;' + item.docCount"></span> -->
                <el-tag v-for="item in countData" :type="typeName(item.status)" :icon="iconName(item.status)"
                            disable-transitions v-html="tagName(item.status) + ':&nbsp;' + item.docCount"></el-tag>
        </div>
        <div class="change-box">
            <el-switch style="display: block" v-model="changeMode" @change="changePageStatus" active-color="#13ce66" inactive-color="#ff4949"
                active-text="自动切换">
            </el-switch>
        </div>
        <div class="table-box">
            <el-table :data="tableData" v-loading="loading" border row-class-name="rowSty" cell-class-name="cellSty"
                header-row-class-name="hRowSty" header-cell-class-name="hCellSty">
                <el-table-column type="index" label="序号" width="150" height="100">
                </el-table-column>
                <el-table-column prop="id" label="站点ID">
                </el-table-column>
                <el-table-column prop="siteName" label="站点名称">
                </el-table-column>
                <el-table-column prop="dataChannel" label="信源渠道">
                </el-table-column>
                <el-table-column prop="status" label="更新状态"
                    :filters="[{ text: '已更新', value: '1' }, { text: '更新中', value: '0' }, { text: '未更新', value: '-1' }]"
                    :filter-method="filterTag" filter-placement="bottom-end">
                    <template slot-scope="scope">
                        <el-button :type="typeName(scope.row.status)" :icon="iconName(scope.row.status)"
                            disable-transitions>
                            {{tagName(scope.row.status)}}</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="pagination-box">
            <nav>
                <el-pagination @current-change="handleCurrentChange" background layout="total, prev, pager, next,jumper"
                    :total="total" :current-page="currentPage">
                </el-pagination>
            </nav>
        </div>
    </div>
    <div class="footer">
        <p>版权归大数据事业部-产品部&copy;所有</p>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="js/element-ui/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui/index.js"></script>
    <script src="js/index.js"></script>
</body>

</html>